{% extends "students/base.html" %} {% load widget_tweaks %} {% block body %}
<h3 class="text-center m-4">Login</h3>
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Logged in successfully.
  <a href="{% url 'index' %}" class="alert-link">Go to Home Page</a>
  {% else %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header"><i class="fa-solid fa-address-card fa-lg"></i> Account Login</div>
        <div class="card-body">
          <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-group">{% render_field form.login class="form-control" %}</div>
            {% for error in form.login.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <div class="form-group">{% render_field form.password class="form-control mt-2" %}</div>
            {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <!-- ! -->
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="mt-4">
              <button type="submit" class="btn btn-primary">Sign In</button>
              <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
